[submodule "COURTNEY"]
	path = COURTNEY
	url = https://github.com/SILICON-SEX/COURTNEY
[submodule "BigMist/mist-modules"]
	path = BigMist/mist-modules
	url = https://github.com/mist-devel/mist-modules.git
